
.myheader{
    text-align:center;
    background-color: lightcyan;
    background:"https://image.shutterstock.com/image-photo/colorful-hot-air-ballons-flying-260nw-1033306540.jpg"; 
    }
img.imgg{
    border-radius:50%;
}
#about{
    background-color: lightgreen;
}
.carousel-item{
    height: 500px;
    text-align: center;
}
.i1{
    background-color: lime;
}
.i2{
background-color: lightskyblue;
}
.i3{
    background-color: lightpink;
}
